.formArea {
  background-color: var(--primary-color);
  margin-top: 3rem;
  padding: 4rem;
}

.orderTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
